* {
    box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
    
}

a {
    text-decoration: none;
    color: #fff;
}

form {
    margin-bottom: 0; 
}

button {
    outline: none;
}

h1 {
    font-size: 45px;
    margin: 15px 0;
    line-height: 1.5;
}

h2 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 34px;
    font-weight: 800;
    color: #003846;
    line-height: 1.2;    
}

h5 {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
    
}

span {
       z-index: 1;
}

h4 {
    text-align: center;
    font-size: 17px;
    color: #2d3d44;
    line-height: 1.3;
    margin: 0;
    transition: color .25s ease;    
}

p {
    margin-top: 20px;
    margin-bottom: 0;
}

.mobile {
    display: none;
}
/*
.text-box {
    width: 900px;
    margin: 0 auto;
}
*/

.grid {
    display: grid;    
}

.box {
    text-align: center;
    font-size: 14px;  
    color: #fff;  
}

.logo {
    font-family: 'Rammetto One';
    font-size: 18px;
}

.header-menu {
    background-color: #004d61;
    align-items: center;
    width: auto;
    grid-gap: 10px;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr));
    grid-template-rows: 60px;
}

.header-menu a {
    color: #fff;
}


.header-menu a:hover {
    color: #f5587b;
}


.facebook {
     background-image: url(../assets/facebook.svg);
}

.facebook:hover {
     background-image: url(../assets/facebook2.svg);
}

.instagram {
     background-image: url(../assets/instagram.svg);
}

.instagram:hover {
     background-image: url(../assets/instagram2.svg);
}

.icon {
    background-repeat: no-repeat;
    background-position: center;
}

.height {
    margin: 0 10px 0 10px;
    width: 22px;
    height: 18px;
    display: inline-block;
}

.main-header {
    position: relative;
    height: 60vh;
}

/*
.main-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;	
	background-color: #293A43;
	opacity: 0.6;    
}
*/

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    overflow: hidden;
}

.header-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
	
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 60px 20px;
    color: #003846;
    z-index: 2;
} 


.button {
    width: 250px;
    margin: 10px;
    display: inline-block;
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: #f5587b;
    padding: 12px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 2px;
    text-align: center;
    transition: all .2s ease;
    	-webkit-transition: all .2s ease;
    	-moz-transition: all .2s ease; 	
    cursor: pointer;
}

.button:hover {
    color: #fff;
    background: rgb(255, 72, 127);
    transition: all .5s ease;
    	-webkit-transition: all .5s ease;
    	-moz-transition: all .5s ease; 
            
} 

.button:active {
    color: #fff;
    background: rgb(218, 54, 103);
    transition: all .5s ease;
    	-webkit-transition: all .5s ease;
    	-moz-transition: all .5s ease; 
}

.portfolio-section {
    padding-top: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 10px;
}

.portfolio-item {
/*    min-height: 32vh;*/
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    position: relative;
    transition: color .5s ease;
    cursor: pointer;
}

.portfolio-item:hover {
    color: #f5587b;    
}

.portfolio-item:hover::before{
    background-color: rgb(255, 255, 255);
    opacity: .8;
} 

.portfolio-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;	
	background-color: rgb(20, 68, 92);
	opacity: 0.6;  
    transition: opacity .6s ease-in-out;
 }

.portfolio-item:nth-child(1){
    grid-column: 1;
    grid-row: 1/4;
    background-image: url(../assets/1.jpg);
}

.portfolio-item:nth-child(2){
    grid-column: 2/4;
    background-image: url(../assets/2.jpg);
}

.portfolio-item:nth-child(3){
    background-image: url(../assets/3.jpg);
}

.portfolio-item:nth-child(4){
    grid-column: 2;
    grid-row: 2/4;
    background-image: url(../assets/4.jpg);
}

.portfolio-item:nth-child(5){
    grid-column: 3/5;
    background-image: url(../assets/5.jpg);
}

.portfolio-item:nth-child(6){
    background-image: url(../assets/6.jpg);
}

.portfolio-item:nth-child(7){
    background-image: url(../assets/7.jpg);
}

.portfolio-item:nth-child(8){
    grid-column: 1/3;
    grid-row: 4/5;
    background-image: url(../assets/2.jpg);
}

.portfolio-item:nth-child(9){
    grid-column: 3/5;
    grid-row: 4/5;
    background-image: url(../assets/3.jpg);
}

.buttoncase {
    padding: 30px 0;
    grid-column: 1/5;
    text-align: center;
}


.section-ready {
    background-color: #f4f4f4;
    padding: 0;
}

.landing-section {
    padding: 20px;
}

.section-blog h2{
    margin-top: 40px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0;
    grid-template-columns: 1fr 1fr;
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;

}

.ready-left {
/*    border-right: 1px solid #e9e9e9;*/
    font-size: 18px;
    font-weight: 300;
    padding: 45px 50px 0 30px;

}

.ready-right {
    display: grid;
    justify-content: center;   
    align-content: center;
}

.formsection {
    padding: 20px;
    background-color: #004D61;
}

form {
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

input{
    border: none;
    padding: 15px 20px;
    width: 100%;
    outline: none;
    transition: background-color .25s ease;
    background-color: #e5eff1;
    color: #464646;
}

input:focus {
    background-color: #ffffff;     
}

button.request {
    padding: 16px;
    margin: 0;
    width: 100%;    
} 

.blog-home {
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);    
}

.blog-item {
    background-color: #f4f4f4;
    grid-template-rows: 1fr 100px;
    transition: background-color .25s ease;
    overflow: hidden;    
    color: #2d3d44;
}

.blog-item:hover {
    background-color: #fafafa;    
}

.blog-item:nth-child(3) {
    grid-column: 3/5;
}

.blog-item:nth-child(4) {
    grid-column: 1/3;
} 

.blog-item-img {
    height: 400px;
    background-size: cover;
    background-position: center;
    transition: transform .25s ease;
}

.img-1 {
    background-image: url(../assets/101.jpg);
}

.img-2 {
    background-image: url(../assets/102.jpg);
}

.img-3 {
    background-image: url(../assets/103.jpg);
}

.img-4 {
    background-image: url(../assets/104.jpg);
}

.img-5 {
    background-image: url(../assets/105.jpg);
}

.img-6 {
    background-image: url(../assets/106.jpg);
}

.blog-item-img:hover {
    transform: scale(1.05) translateY(-9.5px);
}

.blog-item-content {
    padding: 25px;
    text-align: justify;
    align-content: center; 
}


.main-footer {
    font-family: 'Rammetto One';
    font-size: 18px;
    padding: 60px 0;
    background-color: #004d61;
    text-align: center;
    color: #fff;
}

@media only screen and (max-width: 1200px) { 
    
    .logo {
        padding-left: 20px;    
    }
    
    .ready-left {
        padding: 28px 30px 32px 33px;
    }
    
    .blog-home {
        grid-template-columns: repeat(3, 1fr);    
}
    
    .blog-item:nth-child(1) {
        grid-column: 1;
}

    .blog-item:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    } 
    
    .blog-item:nth-child(3) {
        display: none;
}

    .blog-item:nth-child(4) {
        grid-column: 2/4;
    } 
    
    .blog-item:nth-child(5) {
        grid-column: 2;
        grid-row: 2;
    } 

    .blog-item:nth-child(6) {
        grid-column: 3;
        grid-row: 2;
    } 
}

@media only screen and (max-width: 992px) {    
    .button {
        font-size: 16px;
    }

    .portfolio-section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
        grid-gap: 10px;
    }
    
    .portfolio-item {
/*        min-height: 40vh;*/
        font-size: 20px;
    }
    
    .ready-left {
        font-size: 18px;
        font-weight: 300;
        padding: 40px 30px;
    }
    
    .ready-left h2 {
        font-size: 30px;
    }    
    
    .part {
        display: none;
    }
        
}

@media only screen and (max-width: 768px) {
    .header-menu {
        grid-gap: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 60px);
    }
    
    .landing-section {
        padding: 20px;
    }
    
    h1 {
        font-size: 40px;
        line-height: 1.4;
    }
    
    h5 {
        margin-bottom: 30px;
    }
    
    .header-content {
        padding: 30px 20px;
    }
    
    .buttoncase {
        grid-column: 1/4;
    }

    .portfolio-section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 300px);
        grid-gap: 10px;
    }
    
    .portfolio-item {
/*        min-height: 40vh;*/
        font-size: 20px;
    }
    
    .portfolio-item:nth-child(1){
        grid-column: 1;
        grid-row: 1/5;
}

    .portfolio-item:nth-child(2){
        grid-column: 2/4;
    }

    .portfolio-item:nth-child(3){
        grid-column: 2;
        grid-row: 2/4;
        background-image: url(../assets/4.jpg);
    }

    .portfolio-item:nth-child(4){
        grid-column: 3/4;
        grid-row: 2/3;
        background-image: url(../assets/3.jpg);
    }

    .portfolio-item:nth-child(5){
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .portfolio-item:nth-child(6){
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .portfolio-item:nth-child(7){
        grid-column: 3/4;
        grid-row: 4/5;
}    
    .container {
        grid-template-columns: 1fr;
}
    
    .container>div {
        padding: 5% 5%;
    }
        
    .ready-left {
        font-size: 18px;
        font-weight: 300;
    }
    
    .ready-left h2 {
        text-align: center;
        font-size: 30px;
    }    
    
    .part {
        display: block;
    }
    
    .formsection {
        padding: 20px;        
    }
    
    .formsection form {
        grid-template-columns: 1fr 1fr;        
    }
    
    .landing-section h2 {
        text-align: center;
        font-size: 30px;        
    }
    
    .blog-home {
        grid-template-columns: repeat(2, 1fr);    
}
    
    .blog-item:nth-child(1) {
        grid-column: 1;
}

    .blog-item:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    } 
    
    .blog-item:nth-child(3) {
        display: grid;
        
        grid-column: 1/3;
        grid-row: 2;
}

    .blog-item:nth-child(4) {
        display: none;
    } 

    
    .blog-item:nth-child(5) {
        grid-column: 1;
        grid-row: 3;
    } 

    .blog-item:nth-child(6) {
        grid-column: 2;
        grid-row: 3;
    } 
    
    .blog-home .buttoncase {
        padding-bottom: 0;
    }

}

@media only screen and (max-width: 650px) {
    .blog-item-img {
        height: 480px;
    }
    
    .blog-home {
        grid-template-columns: 1fr;    
    }
    
    .blog-item:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .blog-item:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    } 
    
    .blog-item:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }

    .blog-item:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
    } 
    
    .blog-item:nth-child(5) {
        grid-column: 1;
        grid-row: 5;
    } 

    .blog-item:nth-child(6) {
        grid-column: 1;
        grid-row: 6;
    } 
    
    .blog-home .buttoncase {
        grid-column: 1/2;
        grid-row: 7;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 468px) {
/*
    .mobile {
        display: block;
        background-color: #444;
        align-content: center;
        width: auto;
    }

    .logo {
        font-family: 'Rammetto One';
        font-size: 18px;
        padding: 15px;
    }
*/
    .box {
        text-align: center;
        font-size: 14px;  
        padding: 16px;
    }
    
    .height {
        margin: 0;
}
    
    h1{
        font-size: 30px;
        line-height: 1.3;
    }
    
    h5 {
        font-size: 18px;
        padding-bottom: 26px;
    }
    
    .header-content {
        padding: 20px 20px;
    }
    
    .portfolio-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 300px);
        grid-gap: 10px 0;
    }
    
    .portfolio-item {
/*        min-height: 50vh;*/
        font-size: 24px;
    }
    
    .portfolio-item:nth-child(1){
        grid-column: 1;
        grid-row: 1/2;
}

    .portfolio-item:nth-child(2){
        grid-column: 1;
        grid-row: 2/3;
    }

    .portfolio-item:nth-child(3){
        grid-column: 1;
        grid-row: 3/4;

    }

    .portfolio-item:nth-child(4){
        grid-column: 1;
        grid-row: 4/5;
    }

    .portfolio-item:nth-child(5){
        grid-column: 1;
        grid-row: 5/6;
    }

    .portfolio-item:nth-child(6){
        grid-column: 1;
        grid-row: 6/7;
    }

    .portfolio-item:nth-child(7){
        grid-column: 1;
        grid-row: 7/8;
}
    
    .formsection {
        padding: 20px;        
    }
    
    .formsection form {
        grid-template-columns: 1fr;        
    }
 
/*
    #menu {
         position: fixed;
         top: 0;
         bottom: 0;
         width: 300px;
         right: -340px;
         transition: transform .3s ease-in-out;
        z-index: 3;
    }
    
    #menu:target {

        transform: translateX(-340px);
    }
    
    .close {
      text-align: right;
      display: block;
      text-decoration: none;
      font-size: 3em;
      position: relative;
      top: -300px;
    }
  
    .open {
      text-align: left;
  }
*/
  
}


/*
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}*/
